DistCL.Core/Service References/RemoteCompilerService/Compile7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:distcl" elementFormDefault="qualified" targetNamespace="urn:distcl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd4" namespace="urn:distcl:compiler:messages" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd6" namespace="urn:distcl:agents:messages" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="ResultData" type="q1:StreamBody" />
  <xs:element xmlns:q2="urn:distcl:compiler:messages" name="Status" nillable="true" type="q2:CompileStatus" />
  <xs:element name="GetPreprocessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreprocessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetPreprocessTokenResult" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReady">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="Src" type="q4:StreamBody" />
  <xs:element name="Arguments" nillable="true" type="xs:string" />
  <xs:element name="SrcLength" type="xs:long" />
  <xs:element name="SrcName" nillable="true" type="xs:string" />
  <xs:element name="RegisterAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="urn:distcl:agents:messages" minOccurs="0" name="request" nillable="true" type="q5:AgentRegistrationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="urn:distcl:agents:messages" minOccurs="0" name="GetAgentsResult" nillable="true" type="q6:ArrayOfAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>