DistCL.Core/Service References/RemoteCompilerService/Compile1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:distcl:bindings" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:distcl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:distcl:bindings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="urn:distcl" location="http://localhost:8733/Compile?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="basicHttpEndpoint_LocalCompiler" type="i0:ILocalCompiler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocalCompile">
      <soap:operation soapAction="urn:distcl/ILocalCompiler/LocalCompile" style="document" />
      <wsdl:input name="LocalCompileInput">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LocalCompileOutput">
        <soap:header message="i0:LocalCompileOutput_Headers" part="Status" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreprocessToken">
      <soap:operation soapAction="urn:distcl/ILocalCompiler/GetPreprocessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="basicHttpEndpoint_Compiler" type="i0:ICompiler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsReady">
      <soap:operation soapAction="urn:distcl/ICompiler/IsReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <soap:operation soapAction="urn:distcl/ICompiler/Compile" style="document" />
      <wsdl:input name="CompileInput">
        <soap:header message="i0:CompileInput_Headers" part="Arguments" use="literal" />
        <soap:header message="i0:CompileInput_Headers" part="SrcLength" use="literal" />
        <soap:header message="i0:CompileInput_Headers" part="SrcName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CompileOutput">
        <soap:header message="i0:CompileOutput_Headers" part="Status" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="basicHttpEndpoint_AgentPool" type="i0:IAgentPool">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterAgent">
      <soap:operation soapAction="urn:distcl/ICompileCoordinator/RegisterAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <soap:operation soapAction="urn:distcl/IAgentPool/GetAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="basicHttpEndpoint_CompileManager" type="i0:ICompileManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsReady">
      <soap:operation soapAction="urn:distcl/ICompiler/IsReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <soap:operation soapAction="urn:distcl/ICompiler/Compile" style="document" />
      <wsdl:input name="CompileInput">
        <soap:header message="i0:CompileInput_Headers" part="Arguments" use="literal" />
        <soap:header message="i0:CompileInput_Headers" part="SrcLength" use="literal" />
        <soap:header message="i0:CompileInput_Headers" part="SrcName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CompileOutput">
        <soap:header message="i0:CompileOutput_Headers" part="Status" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAgent">
      <soap:operation soapAction="urn:distcl/ICompileCoordinator/RegisterAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <soap:operation soapAction="urn:distcl/IAgentPool/GetAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="netTcpEndpoint" type="i0:ICompiler">
    <wsp:PolicyReference URI="#netTcpEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IsReady">
      <soap12:operation soapAction="urn:distcl/ICompiler/IsReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <soap12:operation soapAction="urn:distcl/ICompiler/Compile" style="document" />
      <wsdl:input name="CompileInput">
        <soap12:header message="i0:CompileInput_Headers" part="Arguments" use="literal" />
        <soap12:header message="i0:CompileInput_Headers" part="SrcLength" use="literal" />
        <soap12:header message="i0:CompileInput_Headers" part="SrcName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CompileOutput">
        <soap12:header message="i0:CompileOutput_Headers" part="Status" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>