DistCL.Core/Service References/RemoteCompilerService/Compile8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistCL.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistCL.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompileArtifactCookie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompileArtifactCookie" nillable="true" type="tns:CompileArtifactCookie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompileArtifactCookie" nillable="true" type="tns:ArrayOfCompileArtifactCookie" />
  <xs:complexType name="CompileArtifactCookie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompileArtifactDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="Size" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompileArtifactCookie" nillable="true" type="tns:CompileArtifactCookie" />
  <xs:complexType name="CompileArtifactDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:CompileArtifactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompileArtifactDescription" nillable="true" type="tns:CompileArtifactDescription" />
  <xs:simpleType name="CompileArtifactType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Obj" />
      <xs:enumeration value="Pdb" />
      <xs:enumeration value="Out" />
      <xs:enumeration value="Err" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompileArtifactType" nillable="true" type="tns:CompileArtifactType" />
</xs:schema>