DistCL.Core/Service References/RemoteCompilerService/Compile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:distcl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:distcl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:distcl/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd0" namespace="urn:distcl:compiler:local:messages" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd3" namespace="urn:distcl" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd4" namespace="urn:distcl:compiler:messages" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd5" namespace="urn:distcl:utils" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd6" namespace="urn:distcl:agents:messages" />
      <xsd:import schemaLocation="http://localhost:8733/Compile?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LocalCompileInput">
    <wsdl:part xmlns:q1="urn:distcl:compiler:local:messages" name="parameters" element="q1:LocalCompileInput" />
  </wsdl:message>
  <wsdl:message name="LocalCompileOutput">
    <wsdl:part xmlns:q2="urn:distcl:compiler:local:messages" name="parameters" element="q2:LocalCompileOutput" />
  </wsdl:message>
  <wsdl:message name="LocalCompileOutput_Headers">
    <wsdl:part name="Status" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="ICompiler_IsReady_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReady" />
  </wsdl:message>
  <wsdl:message name="ICompiler_IsReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReadyResponse" />
  </wsdl:message>
  <wsdl:message name="CompileInput">
    <wsdl:part xmlns:q3="urn:distcl:compiler:messages" name="parameters" element="q3:CompileInput" />
  </wsdl:message>
  <wsdl:message name="CompileInput_Headers">
    <wsdl:part name="Arguments" element="tns:Arguments" />
    <wsdl:part name="SrcLength" element="tns:SrcLength" />
    <wsdl:part name="SrcName" element="tns:SrcName" />
  </wsdl:message>
  <wsdl:message name="CompileOutput">
    <wsdl:part xmlns:q4="urn:distcl:compiler:messages" name="parameters" element="q4:CompileOutput" />
  </wsdl:message>
  <wsdl:message name="CompileOutput_Headers">
    <wsdl:part name="Status" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="IAgentPool_RegisterAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAgent" />
  </wsdl:message>
  <wsdl:message name="IAgentPool_GetAgents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgents" />
  </wsdl:message>
  <wsdl:message name="IAgentPool_GetAgents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocalCompiler">
    <wsdl:operation name="LocalCompile">
      <wsdl:input wsaw:Action="urn:distcl/ILocalCompiler/LocalCompile" name="LocalCompileInput" message="tns:LocalCompileInput" />
      <wsdl:output wsaw:Action="urn:distcl/ILocalCompiler/LocalCompileResponse" name="LocalCompileOutput" message="tns:LocalCompileOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICompiler">
    <wsdl:operation name="IsReady">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/IsReady" message="tns:ICompiler_IsReady_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/IsReadyResponse" message="tns:ICompiler_IsReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/Compile" name="CompileInput" message="tns:CompileInput" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/CompileResponse" name="CompileOutput" message="tns:CompileOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAgentPool">
    <wsdl:operation name="RegisterAgent">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/RegisterAgent" message="tns:IAgentPool_RegisterAgent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="urn:distcl/IAgentPool/GetAgents" message="tns:IAgentPool_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/IAgentPool/GetAgentsResponse" message="tns:IAgentPool_GetAgents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICompileManager">
    <wsdl:operation name="IsReady">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/IsReady" message="tns:ICompiler_IsReady_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/IsReadyResponse" message="tns:ICompiler_IsReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/Compile" name="CompileInput" message="tns:CompileInput" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/CompileResponse" name="CompileOutput" message="tns:CompileOutput" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAgent">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/RegisterAgent" message="tns:IAgentPool_RegisterAgent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="urn:distcl/IAgentPool/GetAgents" message="tns:IAgentPool_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/IAgentPool/GetAgentsResponse" message="tns:IAgentPool_GetAgents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>