DistCL.Core/Service References/RemoteCompilerService/Compile8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:distcl:compiler:messages" elementFormDefault="qualified" targetNamespace="urn:distcl:compiler:messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd5" namespace="urn:distcl:utils" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd3" namespace="urn:distcl" />
  <xs:complexType name="CompileStatus">
    <xs:sequence>
      <xs:element xmlns:q1="urn:distcl:utils" minOccurs="0" name="Cookies" nillable="true" type="q1:ArrayOfCompileArtifactCookie" />
      <xs:element minOccurs="0" name="ExitCode" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompileStatus" nillable="true" type="tns:CompileStatus" />
  <xs:element name="CompileInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:distcl" ref="q2:Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompileOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="urn:distcl" ref="q3:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>