DistCL.Core/Service References/RemoteCompilerService/distcl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:distcl" elementFormDefault="qualified" targetNamespace="urn:distcl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:distcl:compiler:local:messages" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="urn:distcl:compiler:messages" />
  <xs:import namespace="urn:distcl:agents:messages" />
  <xs:element name="GetPreprocessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compilerVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreprocessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:distcl:compiler:local:messages" minOccurs="0" name="GetPreprocessTokenResult" nillable="true" type="q1:PreprocessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="ResultData" type="q2:StreamBody" />
  <xs:element xmlns:q3="urn:distcl:compiler:messages" name="Result" nillable="true" type="q3:CompileResult" />
  <xs:element name="IsReady">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="Src" type="q4:StreamBody" />
  <xs:element name="Arguments" nillable="true" type="xs:string" />
  <xs:element name="CompilationToken" nillable="true" type="xs:string" />
  <xs:element name="CompilerVersion" nillable="true" type="xs:string" />
  <xs:element name="SrcLength" type="xs:long" />
  <xs:element name="SrcName" nillable="true" type="xs:string" />
  <xs:element name="GetDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="urn:distcl:agents:messages" minOccurs="0" name="GetDescriptionResult" nillable="true" type="q5:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="urn:distcl:agents:messages" minOccurs="0" name="request" nillable="true" type="q6:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="urn:distcl:agents:messages" minOccurs="0" name="GetAgentsResult" nillable="true" type="q7:ArrayOfAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>