DistCL.Core/Service References/RemoteCompilerService/distcl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:distcl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:distcl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:distcl/Imports">
      <xsd:import namespace="urn:distcl" />
      <xsd:import namespace="urn:distcl:compiler:local:messages" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="urn:distcl:compiler:messages" />
      <xsd:import namespace="urn:distcl:utils" />
      <xsd:import namespace="urn:distcl:agents:messages" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocalCompiler_GetPreprocessToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreprocessToken" />
  </wsdl:message>
  <wsdl:message name="ILocalCompiler_GetPreprocessToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreprocessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ILocalCompiler_GetPreprocessToken_CompilerNotFoundFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="urn:distcl:compiler:local:messages" name="detail" element="q1:CompilerNotFoundFaultContract" />
  </wsdl:message>
  <wsdl:message name="LocalCompileInput">
    <wsdl:part xmlns:q2="urn:distcl:compiler:local:messages" name="parameters" element="q2:LocalCompileInput" />
  </wsdl:message>
  <wsdl:message name="LocalCompileOutput">
    <wsdl:part xmlns:q3="urn:distcl:compiler:local:messages" name="parameters" element="q3:LocalCompileOutput" />
  </wsdl:message>
  <wsdl:message name="LocalCompileOutput_Headers">
    <wsdl:part name="Result" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="ILocalCompiler_LocalCompile_CompilerNotFoundFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q4="urn:distcl:compiler:local:messages" name="detail" element="q4:CompilerNotFoundFaultContract" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_IsReady_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReady" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_IsReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReadyResponse" />
  </wsdl:message>
  <wsdl:message name="CompileInput">
    <wsdl:part xmlns:q5="urn:distcl:compiler:messages" name="parameters" element="q5:CompileInput" />
  </wsdl:message>
  <wsdl:message name="CompileInput_Headers">
    <wsdl:part name="Arguments" element="tns:Arguments" />
    <wsdl:part name="CompilationToken" element="tns:CompilationToken" />
    <wsdl:part name="CompilerVersion" element="tns:CompilerVersion" />
    <wsdl:part name="SrcLength" element="tns:SrcLength" />
    <wsdl:part name="SrcName" element="tns:SrcName" />
  </wsdl:message>
  <wsdl:message name="CompileOutput">
    <wsdl:part xmlns:q6="urn:distcl:compiler:messages" name="parameters" element="q6:CompileOutput" />
  </wsdl:message>
  <wsdl:message name="CompileOutput_Headers">
    <wsdl:part name="Result" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_Compile_CompilerNotFoundFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q7="urn:distcl:compiler:local:messages" name="detail" element="q7:CompilerNotFoundFaultContract" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_GetDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDescription" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_GetDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_RegisterAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAgent" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_GetAgents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgents" />
  </wsdl:message>
  <wsdl:message name="ICompileManager_GetAgents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="ICompiler_Compile_CompilerNotFoundFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q8="urn:distcl:compiler:local:messages" name="detail" element="q8:CompilerNotFoundFaultContract" />
  </wsdl:message>
  <wsdl:portType name="ILocalCompiler">
    <wsdl:operation name="GetPreprocessToken">
      <wsdl:input wsaw:Action="urn:distcl/ILocalCompiler/GetPreprocessToken" message="tns:ILocalCompiler_GetPreprocessToken_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ILocalCompiler/GetPreprocessTokenResponse" message="tns:ILocalCompiler_GetPreprocessToken_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:distcl/ILocalCompiler/GetPreprocessTokenCompilerNotFoundFaultContractFault" name="CompilerNotFoundFaultContractFault" message="tns:ILocalCompiler_GetPreprocessToken_CompilerNotFoundFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalCompile">
      <wsdl:input wsaw:Action="urn:distcl/ILocalCompiler/LocalCompile" name="LocalCompileInput" message="tns:LocalCompileInput" />
      <wsdl:output wsaw:Action="urn:distcl/ILocalCompiler/LocalCompileResponse" name="LocalCompileOutput" message="tns:LocalCompileOutput" />
      <wsdl:fault wsaw:Action="urn:distcl/ILocalCompiler/LocalCompileCompilerNotFoundFaultContractFault" name="CompilerNotFoundFaultContractFault" message="tns:ILocalCompiler_LocalCompile_CompilerNotFoundFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICompileManager">
    <wsdl:operation name="IsReady">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/IsReady" message="tns:ICompileManager_IsReady_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/IsReadyResponse" message="tns:ICompileManager_IsReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/Compile" name="CompileInput" message="tns:CompileInput" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/CompileResponse" name="CompileOutput" message="tns:CompileOutput" />
      <wsdl:fault wsaw:Action="urn:distcl/ICompiler/CompileCompilerNotFoundFaultContractFault" name="CompilerNotFoundFaultContractFault" message="tns:ICompileManager_Compile_CompilerNotFoundFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDescription">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/GetDescription" message="tns:ICompileManager_GetDescription_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompileCoordinator/GetDescriptionResponse" message="tns:ICompileManager_GetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAgent">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/RegisterAgent" message="tns:ICompileManager_RegisterAgent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="urn:distcl/IAgentPool/GetAgents" message="tns:ICompileManager_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/IAgentPool/GetAgentsResponse" message="tns:ICompileManager_GetAgents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICompileCoordinator">
    <wsdl:operation name="GetDescription">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/GetDescription" message="tns:ICompileManager_GetDescription_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompileCoordinator/GetDescriptionResponse" message="tns:ICompileManager_GetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAgent">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/RegisterAgent" message="tns:ICompileManager_RegisterAgent_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAgentPool">
    <wsdl:operation name="GetDescription">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/GetDescription" message="tns:ICompileManager_GetDescription_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompileCoordinator/GetDescriptionResponse" message="tns:ICompileManager_GetDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAgent">
      <wsdl:input wsaw:Action="urn:distcl/ICompileCoordinator/RegisterAgent" message="tns:ICompileManager_RegisterAgent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="urn:distcl/IAgentPool/GetAgents" message="tns:ICompileManager_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/IAgentPool/GetAgentsResponse" message="tns:ICompileManager_GetAgents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICompiler">
    <wsdl:operation name="IsReady">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/IsReady" message="tns:ICompileManager_IsReady_InputMessage" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/IsReadyResponse" message="tns:ICompileManager_IsReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compile">
      <wsdl:input wsaw:Action="urn:distcl/ICompiler/Compile" name="CompileInput" message="tns:CompileInput" />
      <wsdl:output wsaw:Action="urn:distcl/ICompiler/CompileResponse" name="CompileOutput" message="tns:CompileOutput" />
      <wsdl:fault wsaw:Action="urn:distcl/ICompiler/CompileCompilerNotFoundFaultContractFault" name="CompilerNotFoundFaultContractFault" message="tns:ICompiler_Compile_CompilerNotFoundFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>