DistCL.Core/Service References/RemoteCompilerService/messages1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:distcl:compiler:messages" elementFormDefault="qualified" targetNamespace="urn:distcl:compiler:messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:distcl:utils" />
  <xs:import namespace="urn:distcl" />
  <xs:complexType name="CompileResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompileResult" nillable="true" type="tns:CompileResult" />
  <xs:complexType name="SourceFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompileResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompilationToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SourceFileRequest" nillable="true" type="tns:SourceFileRequest" />
  <xs:complexType name="FinishedCompileResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompileResult">
        <xs:sequence>
          <xs:element xmlns:q1="urn:distcl:utils" minOccurs="0" name="Cookies" nillable="true" type="q1:ArrayOfCompileArtifactCookie" />
          <xs:element minOccurs="0" name="ExitCode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinishedCompileResult" nillable="true" type="tns:FinishedCompileResult" />
  <xs:element name="CompileInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:distcl" ref="q2:Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompileOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="urn:distcl" ref="q3:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>