DistCL.Client/Service References/CompileService/Compile2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DistCL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistCL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DistCL.Utils" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Security.Policy" />
  <xs:complexType name="CompileStatus">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DistCL.Utils" minOccurs="0" name="Cookies" nillable="true" type="q1:ArrayOfCompileArtifactCookie" />
      <xs:element minOccurs="0" name="ExitCode" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompileStatus" nillable="true" type="tns:CompileStatus" />
  <xs:complexType name="ArrayOfAgentAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentAddress" nillable="true" type="tns:AgentAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentAddress" nillable="true" type="tns:ArrayOfAgentAddress" />
  <xs:complexType name="AgentAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AgentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Weight" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentAddress" nillable="true" type="tns:AgentAddress" />
  <xs:complexType name="AgentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Urls" nillable="true" type="q2:ArrayOfUrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentInfo" nillable="true" type="tns:AgentInfo" />
</xs:schema>