DistCL.Client/Service References/CompileService/Compile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:distcl:compiler:local:messages" elementFormDefault="qualified" targetNamespace="urn:distcl:compiler:local:messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd3" namespace="urn:distcl" />
  <xs:element name="LocalCompileInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Arguments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompilerVersion" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PreprocessToken" type="q1:guid" />
        <xs:element minOccurs="0" name="Src" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SrcName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalCompileOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:distcl" ref="q2:ResultData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>