DistCL.Client/Service References/CompileService/Compile11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DistCL" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8733/Compile?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Security.Policy" />
  <xs:element name="CompileInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Src" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arguments" nillable="true" type="xs:string" />
  <xs:element name="SrcLength" type="xs:long" />
  <xs:element name="SrcName" nillable="true" type="xs:string" />
  <xs:element name="CompileOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="ResultData" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DistCL" name="Status" nillable="true" type="q3:CompileStatus" />
  <xs:element name="LocalCompileInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Arguments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Src" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentRegistrationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Guid" type="q4:guid" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Urls" nillable="true" type="q5:ArrayOfUrl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DistCL" minOccurs="0" name="GetAgentsResult" nillable="true" type="q6:ArrayOfAgentAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>